{% macro macro3(snippetObject) -%}
router ospf {{  snippetObject.ospfProcess }}
 vrf {{ snippetObject.vrfName }}
   router-id {{ snippetObject.routerId }}
   auto-cost reference-bandwidth 100000
   area {{  snippetObject.ospfArea }} nssa
   log-adjacency-changes
   passive-interface default
{%- endmacro %}
