{% macro macro5(snippetObject) -%}
interface {{ snippetObject.interfaceName }}{{ snippetObject.interfaceNumber }}
  description {{ snippetObject.interfaceDescription }}
  vrf member {{ snippetObject.vrfName }}
  no ip redirects
  ip address {{ snippetObject.ipAddress }}/{{ snippetObject.ipPrefix }}
  ip router ospf {{  snippetObject.ospfProcess }} area {{  snippetObject.ospfArea }}
  hsrp version 2
  hsrp {{ snippetObject.hsrpGroup }}
    authentication text vlan{{  snippetObject.hsrpAuth }}
    preempt delay{{ " minimum 120 " if ( snippetObject.deviceOrder == 1 ) else " " }}reload 600
    priority {{ snippetObject.hsrpPriority }}
    track 490 decrement 10
    track 500 decrement 50
    ip {{ snippetObject.hsrpVip }}
  no shutdown
{%- endmacro %}
