{% macro macro8(snippetObject) -%}
interface {{ snippetObject.interfaceName }}{{ snippetObject.interfaceNumber }}
  vrf member {{ snippetObject.vrfName }}
  ip address {{ snippetObject.ipAddress }}/{{ snippetObject.prefixlen }}
  ip router ospf {{  snippetObject.ospfProcess }} area {{  snippetObject.ospfArea }}
{%- endmacro %}
