{% macro macro10(interfaces) -%}
{%- for interface in interfaces %}
interface {{ interface.interfaceName }}{{ interface.interfaceNumber }}
 description {{ interface.interfaceDescription }}
 vrf member {{ interface.vrfName }}
 ip address {{ interface.ipMask.ip }}/{{ interface.ipMask.prefixlen }}
 no ip redirects
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 {{ interface.ospfPassword }}
 no ip ospf passive-interface
 ip router ospf {{  interface.ospfProcess }} area {{  interface.ospfArea }}
 no shutdown
{% endfor -%}
 {# ip ospf dead-interval 6 #}
 {# ip ospf hello-interval 2 #}
{%- endmacro %}
