{%- macro macro4(prefixLists) -%}
{%- for prefixList in prefixLists %}
edit prefix-set {{ prefixList.name }} nano
  {%- if prefixList.description -%}
  # {{ prefixList.description }}
  {% endif %}
  {% for ipMask in prefixList.ipMasks -%}
  {{ ipMask.ip }}/{{ ipMask.prefixlen }} ge {{ ipMask.prefixlen }},
  {%- endfor -%}
{%- endfor -%}
{%- endmacro -%}
