# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

jobs:

  build:
    docker:
      - image: python:3.6.12-buster

    working_directory: ~/repo

    steps:
    - checkout

    - run:
        name: install dependencies
        command: |
          make circleCiInstall
          
  test:
    docker:
      - image: python:3.6.12-buster

    working_directory: ~/repo

    steps:
    - checkout

    - run:
        name: install dependencies
        command: |
          make circleCiInstall
        
    - run:
        name: test the code
        command: |
          ls
          
    - run:
        name: test the code
        command: |
          make circleCiTest
          
  runExamples:
    docker:
      - image: python:3.6.12-buster

    working_directory: ~/repo

    steps:
    - checkout

    - run:
        name: install dependencies
        command: |
          make circleCiInstall

    - run:
        name: run examples
        command: |
          make circleCiExample1
          make circleCiExample2
          make circleCiExample3
          make circleCiExample4

workflows:
  default:
    jobs:
      - build
      - runExamples
      - test
